$blue: rgb(81,173,238);
$magenta: rgb(237,18,111);
$yellow: rgb(251,249,55);
$green: rgb(178,252,58);


body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 10%);
  margin: 50px;
}

// box shadow from http://www.w3schools.com/css/css3_shadows.asp
.note {
  // background-color: darken(white, 10%);
  width:auto;
  display: inline-block;
  background-color: $yellow;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2px;
}

.note:nth-child(4n+1) {
  background-color: $yellow;
}

.note:nth-child(4n+2) {
  background-color: $blue;
}

.note:nth-child(4n+3) {
  background-color: $green;
}

.note:nth-child(4n+4) {
  background-color: $magenta;
}

#note-title-bar {
  font-family: 'Yellowtail', cursive;
  font-size: 28px;
  font-weight: bold;
}

.noteBody {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}


.icons {
  float: right;
}

#notebar-container{
  padding: 10px;
  display: inline-block;
  float: right;
  background-color: $blue;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#notebar {
  float: right;

}

.pageTitle {
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  top: 5px;
  left: 10px;
  float: left;
  font-size: 32px;
}
